@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model ePisarnica.ViewModels.RegisterViewModel

<!DOCTYPE html>
<html lang="bs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kreiraj račun | ePisarnica</title>
    <link rel="stylesheet" href="~/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="form-blob">
                <img src="assets/images/blob.svg" alt="Blob" class="blob-image blob-image--1">
                <img src="assets/images/blob.svg" alt="Blob" class="blob-image blob-image--2">
                <img src="assets/images/blob.svg" alt="Blob" class="blob-image blob-image--3">
            </div>
            <div class="form-header">
                <p>Kreirajte svoj račun</p>
                <h1>Pridružite se ePisarnici</h1>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="validation-summary">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            }

            <form class="form-box" asp-action="Register" asp-controller="Account" method="post">
                @Html.AntiForgeryToken()

                <!-- Korisničko ime -->
                <div class="input-group">
                    <input type="text" asp-for="Username" class="input-field" required>
                    <label asp-for="Username" class="floating-label">Korisničko ime</label>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <!-- Korisničko ime -->
                <div class="input-group">
                    <input type="text" asp-for="Ime" class="input-field" required>
                    <label asp-for="Username" class="floating-label">Ime</label>
                    <span asp-validation-for="Ime" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <input type="text" asp-for="Prezime" class="input-field" required>
                    <label asp-for="Prezime" class="floating-label">Prezime</label>
                    <span asp-validation-for="Prezime" class="text-danger"></span>
                </div>
                <!-- Email -->
                <div class="input-group">
                    <input type="email" asp-for="Email" class="input-field" required>
                    <label asp-for="Email" class="floating-label">Email adresa</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <!-- Lozinka -->
                <div class="input-group">
                    <input type="password" asp-for="Password" class="input-field" required>
                    <label asp-for="Password" class="floating-label">Lozinka</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="eye-icon" onclick="togglePassword()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" /><circle cx="12" cy="12" r="3" /></svg>
                    </div>
                </div>
                <!-- Potvrda lozinke -->
                <div class="input-group">
                    <input type="password" asp-for="ConfirmPassword" class="input-field" required>
                    <label asp-for="ConfirmPassword" class="floating-label">Potvrdite lozinku</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="input-group checkbox-group">
                    <div class="form-col">
                        <input type="checkbox" id="terms" class="checkbox-field" required>
                        <label for="terms">Slažem se sa <a href="#">Uslovima korištenja</a></label>
                    </div>
                </div>

                <button type="submit" class="form-btn form-btn--submit">Registruj se</button>
            </form>

            <div class="form-divider">
                <p>Ili</p>
            </div>
            <div class="form-bottom">
                <p>Već imate račun? <a href="/Account/Login" class="form-link">Prijavite se</a></p>
            </div>
        </div>
    </div>

    <script>
        function togglePassword() {
            const passwordInput = document.getElementById("Password")
            const confirmPasswordInput = document.getElementById("ConfirmPassword")
            const eyeIcon = document.querySelector(".eye-icon")

            if (passwordInput.type === "password") {
                passwordInput.type = "text"
                confirmPasswordInput.type = "text"
                eyeIcon.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-off"><path d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"/><path d="M14.084 14.158a3 3 0 0 1-4.242-4.242"/><path d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"/><path d="m2 2 20 20"/></svg>`;
            } else {
                passwordInput.type = "password"
                confirmPasswordInput.type = "password"
                eyeIcon.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/><circle cx="12" cy="12" r="3"/></svg>`;
            }
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
